.vs
/src/Core/bin/*
/src/Core/obj/*
/src/Infrastructure/bin/*
/src/Infrastructure/obj/*
/src/IdentityServer/bin/*
/src/IdentityServer/obj/*
/src/Client/bin/*
/src/Client/obj/*
/src/Api/bin/*
/src/Api/obj/*
/src/Serices/bin/*
/src/Services/obj/*
*.db

