<div class="entry-content">
  <div class="component-message">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">{{message?.sender.username}}</h4>
        <h6>({{message?.dateTimeFormatted}})</h6>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            {{message?.content}}
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <button type="button" class="btn btn-primary mr-3">Reply</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </small>
      </div>
  </div>
</div>
