/*#region General*/
body {
  background: #3498db;
}
/*#endregion General*/

/*#region Main*/
.main {
  margin-top: 60px;
  display: block;
}
/*#endregion Main*/

/*#region Entry Content*/
.entry-content {
  max-width: 1000px;
  margin: 0 auto;
}
/*#endregion Entry Content*/
